:root {
    --blue: #24059E;
    --light-blue: #ECF7FE;
    --pink: #FFF1E6;
    --green: #7F9E05;
    --light-green: #E0E8C3;
    --black: #000;
    --white: #FFF;

    --unit-xxs:  4px;
    --unit-xs: 	 8px;
    --unit-s: 	 12px;
    --unit: 	 16px;
    --unit-l: 	 24px;
    --unit-xl: 	 32px;
    --unit-xxl:  48px;
    --unit-xxxl: 64px;
}